body{
    background-image: url("../userimage/join.jpg");
    
    
}

.join{
        display: flex;
    flex-direction: column;
}

form{
    height: 38vw;
    width: 30vw;
    margin:2vw;
    margin-left: 35vw;
    padding: 2vw;
    border-radius: 4%;
    background-color: rgba(120, 120, 120, 0.84);
    box-shadow: 2px 2px 30px black;

}

label{
    color:  white;
    font-weight: bold;
    margin: 1.5vw;
}

input{
    padding: 5px;
    background: transparent;
    border: none;
    border-bottom: 2px solid cyan;
    color: black;
}

input:hover{
    background-color: rgba(53, 53, 51, 0.24);
}

::placeholder {
  color:black;
}

.event{
    background-color: transparent;
    border: 2px solid black;
    padding: 2px;
}


.row{
    margin-top: 20px;
}


.button{
    margin-top: 20px;
    background-color: black;
    color: white;
    opacity: 50%;
    border: none;
    border-radius: 10px;
}

.button:hover{
    opacity: 60%;
    background-color: black;
    transform: scale(1.4);
    transition-duration: 1s;
}