html{
    background-image: url(../userimage/payment.png);
}

form{
    border: 2px solid black;
    width: 60%;
    margin-top: 50px;
    margin-left: 20%;
    padding: 20px;
    box-shadow: 2px 2px 30px black;
}
label{
    margin-bottom: 20px;
}

input{
    margin-bottom: 20px;
    border-radius: 50px;
    padding: 10px;
    background: transparent;
    border: 2px solid black;
    color: white;
}

input:hover{
    background-color: rgba(62, 61, 61, 0.8);
}

::placeholder{
    color: white;
}
.content{
    display: flex;
    flex-direction: column;
    margin-left: 7vw;
}

.content2{
    display: flex;
    flex-direction: row;
}

#username{
    width: 45vw;    
}

#card{
    margin-left: 2vw;
    border-radius: 10px;
    width: 5vw;
}

#cardNum{
    
    display: flex;
}

#date{
    border-radius: 0;
}

#CVV{
    width: 10vw;
}

.button{
    margin-top: 50px;
    margin-left: 10%;
    padding: 15px;
    width:50vw; 
    border-radius: 20px;
    opacity: 50%;
}

.button:hover{
   background-color: rgba(62, 61, 61, 0.8);
}