body{
    background-image: url(image/background2.jpg);
    background-size: 100%;
}

fieldset{
    width: 50vw;
    margin-left: 23vw;
    border: 2px solid black;
    border-radius: 10px;    
    box-shadow: 2px 2px 20px black;
   
}

fieldset:hover{
    transform: scale(1.02);
    transition-duration: 1s;
}

legend{
    margin: 3vw;
    font-size: 1.4rem;
}

.tittle{
    font-size: 50px;
    text-shadow:0 0 5px white;
    text-align: center;
}

.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 40vw;
  display: block;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-bottom: 2px solid rgba(94, 86, 90, 0.6);
  background-color: transparent;
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
}

input[type=text]:hover, input[type=password]:hover{
      box-shadow: 0 5px 10px -5px white;
}
.area{
    color:black;
    width: 10%;    
    padding: 8px;       
    border-radius: 1px;    
    resize: vertical; 
    margin: 5px 0 22px 0;
}

.button{
    padding:10px;
    background-color: #FFF9CA;
    font-size: 15px;
    border: 1px solid rgb(0,114,66);
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
    margin: auto;
    opacity: 50%;
    
}

.button:hover{
    background-color:lightcoral;
    border: black;
    color: white;
    opacity: 1;
}
